<mat-toolbar color="primary">
  Angular CRUD
  <div class="flex-stretch"></div>
  <mat-icon class="mr-8">brightness_5</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
</mat-toolbar>

<div class="content mat-app-background" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
  <div class="center">
    <h2 >Menjajes APP</h2>
  </div>

  <div class="center">
    <h3>La lista de mensajes activos es la siguiente: </h3>
  </div>

  <div class="mat-elevation-z7">
    <table [ngClass]="(flagToggle)? 'shadow' : 'display-normal'" mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Message Column -->
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Mensaje </th>
        <td mat-cell *matCellDef="let element"> {{element.message}} </td>
      </ng-container>

      <!-- Author Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Autor </th>
        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let element"> {{element.actions}}
          <button mat-button color="warn" (click)="deleteMessage(element.id)"> Eliminar </button>
          <button mat-button color="primary" (click)="updateMessage(element.id)"> Actualizar </button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

  <br><br>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingresa tu nombre" [(ngModel)]="message.author" name="author">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Mensaje</mat-label>
        <textarea matInput placeholder="Ingresa tu mensaje" [(ngModel)]="message.message" name="message"></textarea>
      </mat-form-field>
    </form>
      <section>
        <div class="example-label"></div>
        <div class="example-button-row">
          <button mat-raised-button color="primary"(click)="createMessage()"> Guardar </button>
        </div>
        </section>
</div>
