<mat-toolbar color="primary">
  Curso
  <div class="flex-stretch"></div>
  <mat-icon class="mr-8">brightness_5</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
</mat-toolbar>


<div class="content mat-app-background" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
  <div class="center">
    <h2 >Listado de Cursos</h2>
  </div>

  <div class="center">
    <h3>A continuacion se muestra los cursos que se encuentran activos en el sistema </h3>
  </div>

  <div class="mat-elevation-z7">
    <table [ngClass]="(flagToggle)? 'shadow' : 'display-normal'" mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let element"> {{element.actions}}
          <button mat-button color="warn" (click)="deleteCurso(element.id)"> Eliminar </button>
          <button mat-button color="primary" (click)="updateCurso(element.id)"> Actualizar </button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

  <br><br>

  <ng-container *ngIf="router.url !== '/'">
    <section>
      <div class="end">
        <div class="example-label"></div>
        <button mat-stroked-button color="primary" (click)="backToMenu()">Volver</button>
      </div>
    </section>
  </ng-container>
</div>
