<mat-toolbar color="primary">
  Creación de Alumnos
  <div class="flex-stretch"></div>
  <mat-icon class="mr-8">brightness_5</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
</mat-toolbar>

<div class="content mat-app-background" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" >
  <br><br><br><br>
  <section class="center">
    <form class="example-form">
      <!-- Name -->
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingrese el nombre" [(ngModel)]="curso.name" name="name">
      </mat-form-field>
      <!-- Description -->
      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Ingrese el apellido" [(ngModel)]="curso.description" name="lastName">
      </mat-form-field>

    </form>
  </section>

  <section class="center">
    <section>
      <div class="example-label"></div>
      <div class="example-button-row">
        <button mat-raised-button color="primary"(click)="createCurso()"> Guardar </button>
      </div>
    </section>
  </section>

  <ng-container *ngIf="router.url !== '/'">
    <section>
      <div class="end">
        <div class="example-label"></div>
        <button mat-stroked-button color="primary" (click)="backToMenu()">Volver</button>
      </div>
    </section>
  </ng-container>
</div>
