mat-toolbar {
  display: flex;
  align-items: center;
}

.flex-stretch {
  flex: 1 0 auto;
}

.content {
  padding: 16px;
  min-height: 100vh;
}

.shadow{
  background-color: #2b2d30;
  color-text: #ffffff;
}

.display-normal{
  background-color: white;
  color-text: #000000;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  margin-right: 8px;
}
